<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gerenciador</title>
	@Styles.Render("~/Content/bootstrap.css")
	@Styles.Render("~/Content/custom.css")
	@Scripts.Render("~/Scripts/modernizr-2.6.2.js")
	@Scripts.Render("~/Scripts/custom.js")

</head>
<body>
	<div class="container">

		<div class="card-panel">
			<h1>Gerenciamento de Frota</h1>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Gerenciando Frotas</p>
		</footer>
	</div>

	@Scripts.Render("~/Scripts/jquery-1.10.2.min")
	@Scripts.Render("~/Scripts/bootstrap.js")
	@RenderSection("scripts", required: false)
</body>
</html>
