@model IEnumerable<GerenciamentoFrota.Models.Veiculo>


<div id="listaVeiculo">
	<table class="table table-striped table-responsive text-center">
		<tr>
			<th class="text-center">
				Chassi
			</th>
			<th class="text-center">
				Tipo
			</th>
			<th class="text-center">
				Passageiros
			</th>
			<th class="text-center">
				Cor
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Chassi)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Tipo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Passageiros)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Cor)
				</td>
				<td>
					@Html.ActionLink("Editar", "Edit", new { id = item.Chassi }, new { @class = "btn btn-success" })
					@Html.ActionLink("Deletar", "Delete", new { id = item.Chassi }, new { @class = "btn btn-danger" })
				</td>
			</tr>
		}

	</table>
</div>